<div [ngClass]="{'soon-up': (timeLeft < summSoonUpTime && timeLeft < summ.cooldown)}">
    <button (click)="addTime(-10)">
        <p>--</p>
    </button>
    <button (click)="addTime(-5)">
        <p>-</p>
    </button>

    <input type="image" 
        [src]="summ?.image" 
        [alt]="summ?.name" 
        width="30" 
        height="30"
        [style.opacity]="summOpacity"
        (click)="useSumm(5)">

    <button (click)="addTime(5)">
        <p>+</p>
    </button>
    <button (click)="addTime(10)">
        <p>++</p>
    </button>
</div>
    
<p [ngClass]="{'p-soon-up': (timeLeft < summSoonUpTime && timeLeft < summ.cooldown)}">{{timeLeft}}</p>
