.participant-container {
    border: 1px solid cyan;
    padding: 1px;
    margin: 1px;
    text-align: center;
}

.main-participant-container {
    border: 1px solid orchid;
}

::ng-deep .champion-name-tooltip {
    color: blue;
    font-size: 12px;
}

p {
    margin: 0px;
}