<div class="participant-container" [ngClass]="{'main-participant-container': isMainParticipant}">
    <p>{{ position }}</p>

    <div>
        <select [(ngModel)]="position" (change)="selectPosition()">
            <option *ngFor="let otherPosition of allPositions" [ngValue]="otherPosition">{{otherPosition}}</option>
        </select>
    </div>

    <p>{{ this.settingsService.settings.showSummonerNames ? currentGameParticipant.summonerName : champion?.name }}</p>

    <participant-rank *ngIf="this.settingsService.settings.showRanks" [currentGameParticipant]="currentGameParticipant"></participant-rank>

    <img [src]="champion?.image" [alt]="champion?.name" width="40" height="40"
        matTooltip="{{ champion?.name }}"
        matTooltipClass="champion-name-tooltip">

    <img [src]="champion?.passive?.image" [alt]="champion?.passive?.name" width="30" height="30"
        matTooltip="{{ champion?.passive?.name }}">

    <img *ngFor="let spell of champion?.spells" 
        [src]="spell.image"
        [alt]="spell.name"
        width="30" height="30"
        matTooltip="{{ spell.name }} | {{ spell.cooldown.join() }}">

    <participant-summs [currentGameParticipant]="currentGameParticipant" [useSummsSubject$]="useSummsSubject$"></participant-summs>

    <participant-runes [currentGameParticipant]="currentGameParticipant"></participant-runes>
</div>